/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
	width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 100%;
	margin: 0 auto !important;
	min-width: 1000px;
}

.light_blue
{
  background: #64CCE8;
}
.grey
{
	color: #3A3A3C;
}

.blue_txt
{
	color: #3BB3E4;
}
.green_txt
{
	color: #9BC44E;
}
.middle
{
	background: url(images/bg.png);
}

.btn_green
{
	background: url(images/green_bg.png);
border: none;
color: #fff;
text-transform: uppercase;
font-size: 16px;
text-align: center;
padding: 5px 10px;
background-size: 3px;
border-radius: 4px;
}
input[type="text"]
{
	padding: 5px;
}

input[type="submit"]
{
	cursor: pointer;
} 

a, h3
{
	color: #3A3A3C;
}

h3, h2
{
font-weight: bold;
}

a, span, div
{
	font-size: 14px;
}
span
{
	color: #3A3A3C;
}
a
{
	color: #25AAE1;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

h1
{
	font-size: 30px;
margin: 0 0 30px 0;
}

h2
{
	font-size: 20px;
margin-bottom: 5px;
}
h3
{
	font-size: 16px;
}

i
{
	font-style: italic;
}
p
{
	text-align: justify;
	font-size: 14px;
}

.tablt_h1
{
	padding: 20px 0 0 0;
	background: #3BB3E4;
	border-bottom: 25px solid #25AAE1;
	color: #fff;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 35px;
}

.tablt_h1::before
{
content: "";
background: url(images/tablets.png);
background-size: 150px; 
width: 150px;
height: 150px;
display: inline-block;
position: absolute;
top: -40px;
left: -20px;
}

.apteka_h1
{
	padding: 20px 0 0 0;
	background: #3BB3E4;
	border-bottom: 25px solid #25AAE1;
	color: #fff;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 35px;
}

.apteka_h1::before
{
content: "";
background: url(images/plus.png);
background-size: 100px;
width: 100px;
height: 100px;
display: inline-block;
position: absolute;
top: -20px;
left: -20px;
}

.page_h1
{
	padding: 20px 0 0 0;
	background: #3BB3E4;
	border-bottom: 25px solid #25AAE1;
	color: #fff;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 35px;
}

.page_h1::before
{
content: "";
background: url(images/info1.png);
background-size: 100px;
width: 100px;
height: 100px;
display: inline-block;
position: absolute;
top: -20px;
left: -20px;
border-radius: 150px;
border: 3px solid #fff;
}

.feedback_h1
{
	padding: 20px 0 0 0;
	background: #3BB3E4;
	border-bottom: 25px solid #25AAE1;
	color: #fff;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 35px;
}

.feedback_h1::before
{
content: "";
background: url(images/feedback.png);
background-size: 100px;
width: 100px;
height: 120px;
display: inline-block;
position: absolute;
top: -20px;
left: -20px;
}
.feedback_form 
{
margin-top: 30px;
padding: 30px;
background: #F3F3F4;
border: 1px solid #D4D5D7;
}

.feedback_form input[type="text"]
{
	width: 250px;
}

.feedback_form textarea
{
  width: 99%;
}

.feedback_form table
{
width: 100%;
 border-collapse: separate;
  border-spacing: 7px 11px;
}

.feedback_form td
{
vertical-align: top;
}

.kont_apteka
{
	background: #D7E9F8;
padding: 10px 30px;
border-left: 5px solid #25AAE1;
display: inline-block;
}

.kont_apteka span
{
	margin: 5px 0;
display: inline-block;
}

.kont_apteka .adress::before
{
content: "";
background: url(images/adress.png) 0 -25px;
background-size: 15px;
background-repeat: no-repeat;
width: 20px;
height: 30px;
display: inline-block;
top: 6px;
position: relative;
}

.kont_apteka .tel::before
{
content: "";
background: url(images/tel.png) 0 19px;
background-size: 20px;
width: 20px;
height: 20px;
display: inline-block;
top: 6px;
left: -3px;
position: relative;
}

/**/
.city_apteka
{
	width: 100%
}
.city_apteka td
{
	background: #D7E9F8;
	padding: 20px 30px;
border-right: 5px solid #fff;
border-bottom: 10px solid #fff;
}

.city_apteka tr
{
	border-left: 5px solid #25AAE1;
margin-bottom: 10px; 
}

.city_apteka .adress::before
{
content: "";
background: url(images/adress.png) 0 -25px;
background-size: 15px;
background-repeat: no-repeat;
width: 20px;
height: 30px;
display: inline-block;
top: 6px;
position: relative;
}

.city_apteka .tel::before
{
content: "";
background: url(images/tel.png) 0 19px;
background-size: 20px;
width: 20px;
height: 20px;
display: inline-block;
top: 6px;
left: -3px;
position: relative;
}

.city_apteka tr:hover > td
{
	background: #E2EEC1;
}

.city_apteka tr:hover
{
	border-left: 5px solid #A7CE38;
}

.city_apteka h3:hover
{
	color: #25AAE1;
}



/**/

.map
{
	margin-top: 30px;
}

ul.cities li
{
width: 45%;
float: left;
margin: 5px 0;
}

.cities a
{
font-size: 16px;
}

.cities a::before
{
	content: "";
background: url(images/adress.png) 0 -25px;
background-size: 15px;
background-repeat: no-repeat;
width: 20px;
height: 30px;
display: inline-block;
top: 6px;
position: relative;
}

.cities a:hover:before
{
	content: "";
background: url(images/adress.png) 0 6px;
background-size: 15px;
background-repeat: no-repeat;
width: 20px;
height: 30px;
display: inline-block;
top: 6px;
position: relative;
}

.cities a:hover
{
	color: #A7CE38;
}

.cities
{
	display: inline-block;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
height: 400px;
margin: 0 auto;
width: 1000px;
}
#banner_up
{
	height: 90px;
}
#banner_up img
{
max-width: 1000px;
}

#logo
{
width: 255px;
float: left;
text-align: center;
margin: 35px 0 0 0;
}

#logo img
{
	width: 250px;
}

#login
{
max-width: 500px;
float: right;
padding: 10px 20px;
background: #F0F9FC;
margin-top: 20px;
border-bottom: 2px solid #B3B3B3;	
}

.rem_reg
{
	text-align: right;
	margin-top: 10px;
}

.rem_reg span
{
margin-left: 20px;
}

.apteki_in
{
	margin-bottom: 10px;
}
.apteki_in::before
{
content: "";
background: url(images/in.png);
background-size: 20px; 
display: inline-block;
width: 20px;
height: 20px;
top: 5px;
position: relative;
margin-right: 7px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
	width: 1000px;
	margin: 0 auto;
	min-height: 600px;
	background: #fff;
	top: -150px;
position: relative;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 100%;
border-bottom: 2px solid #B3B3B3;
}

#navstring {
padding: 0;
margin: 0 0 20px 0;
overflow: hidden;
}

#navstring > ul {
padding: 0;
margin: 0 0 0 -12px;
list-style: none;
}

#navstring > ul li {
padding: 0;
margin: 0 10px 0 0;
float: left;
}

#navstring > ul li a, #navstring > ul li span
{
	font-size: 12px !important;
}
#navstring > ul li::before {
content: "/ ";
padding: 0 5px 0 0;
font-size: 12px !important;
}

#main_content
{
	padding: 0px 30px 20px 30px;
}

#menu_top
{
	background: #3BB3E4;
	display: inline-block;
text-align: center;
width: 100%;
border-bottom: 20px solid #25AAE1;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#menu_top a
{
color: #fff;
font-size: 16px;
}

#menu_top ul
{
	padding-top: 20px;
}
#menu_top ul li
{
	float: left;
	margin-right: 30px;
}

#menu_top ul li:last-child
{
margin-right: 0;
}

#menu_top div
{
	display: inline-block;
	text-align: center;
}

#search_tbs 
{
	margin:20px 30px;
	padding:20px 30px;
	border-bottom: 2px solid #4A9FB6;
}
#search_tbs h2
{
	font-size: 25px;
	color: #fff;
	margin-bottom: 15px; 
	display: inline-block;
	margin-right: 10px;
}

#search_tbs a
{
font-size: 20px;
color: #3A3A3C;
}

#search_tbs div
{
	text-align: center;
}

#search_tbs input[type="text"]
{
	width: 730px;
	float: left;
	padding: 10px 5px;
	margin-right: 15px;
}

#search_tbs input[type="submit"]
{
	float: right;
	font-size: 20px;
background-size: 4px;
padding: 8px 15px;
}


.primer_tbls
{
	text-align: left !important;
}

.primer_tbls span, .primer_tbls a
{
	font-size: 14px !important;
	display: inline-block;
    margin-top: 5px;
}

.primer_tbls span
{
	color: #fff;
}
.primer_tbls a
{
color: #3A3A3C;
}
.search_main
{
	display:inline-block;
}

#src_form
{
	display: inline-block;
}

.content_left
{
	width: 300px;
	display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.content_right
{
width: 600px;
display: inline-block;
vertical-align: top;
}

.content_right img
{
max-width: 600px;
}

.banners_left img
{
max-width: 300px; 
border: 1px solid #B8B8B8;
}

.information
{
	border: 1px solid #B3B3B3;
padding: 10px;
text-align: center;
margin-top: 50px;
}

.information img
{
display: inline-block;
width: 70px;
margin-right: 20px; 
}

.information div
{
display: inline-block;
width: 750px;	
}

.analogi
{
margin-top: 50px;
background: #EFF9FC;
}
.analogi .left_tl
{
	text-align: center;
	background: #25AAE1;
	color: #fff;
	padding: 30px;
	width: 200px;
	position: relative;
	display: inline-block;
	margin-right: 50px;

}

.strelka {
border: 20px solid transparent;
border-left: 20px solid #25AAE1;
width: 0;
height: 0;
position: absolute;
top: 27px;
left: 255px;
display: block;
}


.right_tl
{
	display: inline-block;
	width: 610px;
	vertical-align: middle;
}
.right_tl a
{
	text-decoration: underline;
}

.right_tl a:hover
{
text-decoration: none;
}
.right_tl ul li
{
	float: left;
	margin-right: 20px;
}

.tabletka
{
	border-bottom: 1px solid #B8B8B8;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -180px auto 0;
	height: 200px;
	position: relative;
	padding-top: 50px;
	text-align: center;
}

#menu_bottom
{
display: inline-block;
border-right: 1px solid #fff;
height: 150px;
text-align: left;
}

#menu_bottom ul li
{
	margin: 5px 20px;
}

#menu_bottom a
{
color: #fff;
}

.footer_center
{
	display: inline-block;
border-right: 1px solid #fff;
vertical-align: top;
width: 400px;
height: 150px;
text-align: left;
padding-left: 20px;
padding-right: 20px;
}

.footer_center p
{
	font-size: 14px;
	color: #fff;
}

.footer_right
{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-left: 20px;
}

.footer_right p
{
color: #fff;	
}

.footer_right ul li 
{
	float: left;
	margin-right: 5px; 
}

.footer_right ul
{
margin-top: 5px;
display: inline-block;
}

#rassilka_form
{
	vertical-align: top;
	margin-top: 5px;
}

#rassilka_form input[type="text"]
{
	padding: 2px 5px;
	width: 150px;
}

#rassilka_form input[type="submit"]
{
	background: url(images/arrow.png) 10px 4px;
background-repeat: no-repeat;
background-size: 20px;
background-color: #18B99B;
width: 40px;
padding: 4px;
border: none;
} 